{{!-- Delta Kilo Fluid Gauge - HUD Template --}}
{{!-- 3-Ebenen-Modell: back_template.png (unten) -> Flüssigkeits-Div (Mitte) -> front_template.png (oben) --}}
{{!-- Positionierung/Größen der einzelnen Elemente wird live in Foundry per CSS nachjustiert. --}}
{{!-- Kein Text-Overlay, kein Fenster-Chrome - reine Bilddarstellung, frei verschiebbar via eigenem Drag-Handler. --}}

{{#if hasActor}}
<div class="dkg-gauge-container">

  <div class="dkg-gauge-back">
    <img src="modules/delta-kilo-fluid-gauge/assets/img/back_template.png" alt="Delta Kilo Gauge Rahmen (Rückseite)" draggable="false" />

    <div class="dkg-gauge-fill" style="height: {{fillPercent}}%;"></div>

    <div class="dkg-lamp dkg-lamp-green"></div>
    <div class="dkg-lamp dkg-lamp-red"></div>
  </div>

  <div class="dkg-gauge-front">
    <img src="modules/delta-kilo-fluid-gauge/assets/img/front_template.png" alt="Delta Kilo Gauge Rahmen (Vorderseite)" draggable="false" />
  </div>

</div>
{{/if}}

